#leaving-title {
  background-color: #242424;
  flex-direction: row;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 25px;
  padding: 10px;
  border-radius: 25px;
  color: #405EFF;
  margin-bottom: -10px;
}

/* ------------------ */
/*  Filters dropdown  */
/* ------------------ */

input[type='checkbox'] { 
    display: none; 
  } 
  
  .wrap-collabsible { 
    margin: 1.2rem 0; 
  }
  
  .lbl-toggle {
    margin-top: -10px;
    display: block; 
    font-weight: bold; 
    font-family: monospace; 
    font-size: 2rem; 
    text-transform: uppercase; 
    text-align: center; 
    color: #334E68;
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
  } 
  
  .lbl-toggle:hover { 
    color: #FFF; 
  }
  
  .lbl-toggle::before { 
    content: ' '; 
    display: inline-block; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; 
    margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; 
  }
  
  .toggle:checked+.lbl-toggle::before { 
    transform: rotate(90deg) translateX(-3px); 
  } 
  
  .collapsible-content { 
    max-height: 0px; 
    overflow: hidden; 
    transition: max-height .25s ease-in-out; 
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content { 
    max-height: 500px; 
  } 
  
  .toggle:checked+.lbl-toggle { 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
  }
  
  .collapsible-content .content-inner { 
    border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 7px; 
    padding: .5rem 1rem; 
  }


/* ------------------ */
/*     Title Grid     */
/* ------------------ */

#title-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
  }
  
#title_list {
    flex-direction: row;
    background-color: #242424;
    width: 200px;
    word-wrap: break-word;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 25px;
    
  }
  
#title_list li {
    text-align: center;
    color: grey;
  }
  
#title_list span {
    position:absolute;
    bottom:0;
    right:0;
  }
  
img {
    padding-top: 10px;
    border-radius: 25px;
  }
  
#title {
    padding-top: 5px;
    padding-bottom: 3px;
    font-weight: bolder;
  }
  
