.min-max-slider {position: relative; width: 700px; text-align: center; margin-bottom: 50px;}
.min-max-slider > label {display: none;}
span.value {height: 1.7em; font-weight: bold; display: inline-block;}
span.value.upper::before {content: "-\00a0"; display: inline-block; margin-left: 0.4em;}
.min-max-slider > .legend {display: flex; justify-content: space-between;}
.min-max-slider > .legend > * {font-size: small; opacity: 0.25;}
.min-max-slider > input {cursor: pointer; position: absolute;}

/* webkit specific styling */
.min-max-slider > input {
  -webkit-appearance: none;
  outline: none!important;
  background: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, silver 30%, silver 60%, transparent 60%, transparent 100%);
}
.min-max-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: #eee; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid gray;
  border-radius: 100%;
}
.min-max-slider > input::-webkit-slider-runnable-track {cursor: pointer;}


#sliders {
  background-color: #969696;
  flex-direction: row;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}

#title-grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
}

#title_list {
  flex-direction: row;
  background-color: #969696;
  width: 200px;
  word-wrap: break-word;
  list-style-type: none;
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#title_list li {
  text-align: center;
}

#title_list span {
  position:absolute;
  bottom:0;
  right:0;
}

img {
  padding-top: 10px;
}



#title {
  padding-top: 5px;
  padding-bottom: 3px;
  font-weight: bolder;
}

#info_container {
  display: flex;
  justify-content: space-around;
}

#img_box img {
  flex-direction: row;
  height: 700px;
  width: auto;
  margin-left: 5px;
}


#info_box {
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  background-color: #969696;
  padding-top: 10px;
  height: 700px;
  width: 33%;
  text-align: left;
  padding-left: 5px;
}

#countries_box {
  flex-direction: row;
  overflow-y: scroll;
  list-style-type: none;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  background-color: #969696;
  padding-top: 10px;
  height: 700px;
  width: 33%;
  padding-left: 5px;
}