#home {
    background-color: #767676;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background:#222;
    color: #f2f2f2;
    height: 50px
}

input[type=search] {
    width:200px;
}

#search_button {
    border-radius: 8px;
    background-color: whitesmoke;
    margin-top: -9px;
}

input[type=search]:focus {
	width: 600px;
	background-color: #ccc;
	border-color: #333;
	border: solid 1px #fff;
}


#leaving-carousel {
    display: flex;
    text-align: center;
}


.col-md-4{
    display: inline-block;
    margin-left:-10px;
  }
  .col-md-4 img{
    width:100%;
    height:auto;
  }
    
  body .carousel-control-prev-icon,
  body .carousel-indicators li,
  body .carousel-control-next-icon{
    background-color:#000;
  }
  
  span.carousel-control-prev-icon {
   position: relative;
   bottom: 40px;
   right: 40px;
  }
  
  span.carousel-control-next-icon {
   position: relative;
   bottom: 40px;
  }

  #leaving-soon {
      flex-direction: row;
      border-style: solid;
      border-width: 1px;
      margin: 5px;
      background-color: #969696;
      padding-top: 10px;
  }

  #leaving-soon h1 {
      color: black;
  }

  #recently-added h1 {
    color: black;
}

  #recently-added {
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    background-color: #969696;
    padding-top: 10px;

}



