#home {
    background-color: #121212
}

.navbar {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background:#242424;
    color: #f2f2f2;
    height: 70px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Navbar container */

  
  /* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
.dropdown {
    float: left;
    overflow: visible;
}
  
  /* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: #405EFF;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0px;
    margin-top: -20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
  /* Add a blue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #405EFF;
    color: #ddd;

  }
  
  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #242424;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #405EFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #575757;
    color: #405EFF;
  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

#home-link {
    color: #405EFF;
    margin-top: -15px;
}

#contact-link {
    color: #405EFF;
    margin-top: -20px;
}


input[type=search] {
    width:200px;
    margin-top: 12px
}

#search_button {
    border-radius: 25px;
    background-color: whitesmoke; 
    margin-top: 3px;
}


input[type=search]:focus {
	width: 600px;
	background-color: #ccc;
	border-color: #333;
	border: solid 1px #fff;
    margin-top: 12px;
}

#logos {
    height: 200;
    width: auto;
    border-radius: 25px;
}

#about_section {
    background-color: #242424;
    flex-direction: row;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 25px;
    color: #405EFF;
    margin-bottom: -50px;
}

#services_section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#netflix {
    flex-direction: row;
    padding-top: 100px;
    margin-left: 11px;
    margin-right: 11px;
}

#netflix img {
    height: 200px;
    width: 400px;
}

#hulu {
    flex-direction: row;
    padding-top: 100px;
    margin-left: 11px;
    margin-right: 11px;
}

#hulu img {
    height: 200px;
    width: 400px;
}

#disney {
    flex-direction: row;
    padding-top: 100px;
    margin-left: 11px;
    margin-right: 11px;
}

#disney img {
    height: 200px;
    width: 400px;
}

#prime {
    flex-direction: row;
    padding-top: 100px;
    margin-left: 11px;
    margin-right: 11px;
}

#prime img {
    height: 200px;
    width: 400px;
}

#hbo {
    flex-direction: row;
    padding-top: 100px;
    margin-left: 11px;
    margin-right: 11px;
 }

#hbo img {
    height: 200px;
    width: 400px;
}

#peacock {
    flex-direction: row;
    padding-top: 100px;
    margin-left: 11px;
    margin-right: 11px;
}

#peacock img {
    height: 200px;
    width: 400px;
}
.container {
    border-style: solid;    
    border-width: 2px;
    border-radius: 25px;
    margin-bottom: 50px;
}

#recently-added h1 {
    background-color: #242424;
    flex-direction: row;
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 25px;
    padding: 10px;
    border-radius: 25px;
    color: #405EFF;
    margin-top: 100px;
}

.col-md-4{
    display: inline-block;
    margin-left:-10px;
    vertical-align: top;
  }
  .col-md-4 img {
    width:100%;
    height:auto;
    border-radius: 25px;
    margin-bottom: 10px;
    
  }

  .col-md-4 h4,
  .col-md-4 p {
    color: grey;
    word-wrap: break-word;
  }
  body .carousel-control-prev-icon,
  body .carousel-indicators li,
  body .carousel-control-next-icon{
    background-color:#000;
  }
  

  





