<!DOCTYPE html>
<html>
    <head>
        <title>BetterNetflix</title>
        <link rel="stylesheet" href="/static/CSS/filter_slider.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    </head>
    <body>
        <main>
            <h1><a href="/">BetterNetflix</a></h1>
            {% block content %}
            {% endblock %}
            <section>
                <p>
                    This project was developed by Make School students © 2021.
                </p>
            </section>
        </main>
    </body>
</html>
<script src="static/JS/main.js"></script>
