{% extends 'base.html' %}
{% block content %}

<section>
    <h1>Leaving Soon from Netflix</h1>
    
    {% for i in range(output_list|length) %}
    <ul>
        <li>Title: {{ output_list[i]["title"] }}</li>
        <li>Expiration Date: {{ output_list[i]["expiredate"] }}</li>

        <p>Title Details:</p>
        <p>{{ title_details[i] }}</p>
    </ul>
    {% endfor %}

    <form class=filter-form action='/expiring-soon' method="POST">
        <input type="text" name="type" placeholder="Type">
        <input type="text" name="start-year" placeholder="Start Year">
        <input type="text" name="end-year" placeholder="End Year">
        <input type="text" name="min-runtime" placeholder="Min Runtime">
        <input type="text" name="max-runtime" placeholder="Max Runtime">
        <input type="text" name="start-rating" placeholder="Start Rating">
        <input type="text" name="end-rating" placeholder="End Rating">
        <input type="hidden" name="current-list" value="expiring-soon">
        <input type="submit">
    </form>
    
</section>
{% endblock %}
