{% extends 'base.html' %}
{% block content %}

<section>
    <h1>Leaving Soon from Netflix</h1>

    <form class=filter-form action='/expiring-soon' method="POST">
        <input type="text" name="type" placeholder="Type">
        <div class="min-max-slider" data-legendnum="2">
            <label for="min">Start Year</label>
            <input id="min" class="min" name="start-year" type="range" step="1" min="1900" max="2021" />
            <label for="max">End Year</label>
            <input id="max" class="max" name="end-year" type="range" step="1" min="1900" max="2021" />
        </div>
        <div class="min-max-slider" data-legendnum="2">
            <label for="min">Min Runtime</label>
            <input id="min" class="min" name="min-runtime" type="range" step="1" min="60" max="10800" />
            <label for="max">Max Runtime</label>
            <input id="max" class="max" name="max-runtime" type="range" step="1" min="60" max="10800" />
        </div>
        <div class="min-max-slider" data-legendnum="2">
            <label for="min">Min IMDB Rating</label>
            <input id="min" class="min" name="start-rating" type="range" step="q" min="0" max="10" />
            <label for="max">Max IMDB Rating</label>
            <input id="max" class="max" name="end-rating" type="range" step="1" min="0" max="10" />
        </div>
        <input type="hidden" name="current-list" value="expiring-soon">
        <input type="submit">
    </form>
    
    {% for i in range(output_list|length) %}
    <ul> 
        <img src="{{ title_details[i]['img'] }}" alt="{{ output_list[i]['title'] }}">
        <li>Title: {{ output_list[i]["title"] }}</li>
        <li>Expiration Date: {{ output_list[i]["expiredate"] }}</li>

        <p>Title Details:</p>
        <p>{{ title_details[i] }}</p>
    </ul>
    {% endfor %}
    
</section>
{% endblock %}
