<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<form class=filter-form>
    <input type="text" id="type" placeholder="Type">
    <input type="text" id="start-year" placeholder="Start Year">
    <input type="text" id="order" placeholder="Order">
    <input type="text" id="andor" placeholder="audiosubtitleandor">
    <input type="text" id="start-rating" placeholder="Start Rating">
    <input type="text" id="end-rating" placeholder="End Rating">
    <input type="text" id="subtitle" placeholder="Subtitle">
    <input type="text" id="country-list" placeholder="Country List">
    <input type="text" id="audio" placeholder="Audio">
    <input type="text" id="andorunique" placeholder="countryandorunique">
    <input type="text" id="end-year" placeholder="End Year">
    <input type="hidden" id="current-list" value="expiring-soon">
    <input type="submit">
</form>

<script src="static/JS/main.js"></script>