<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/CSS/index.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <title>Better Netflix - Our Slogan Here</title>
    </head>

    <body id="home">
        <nav class="navbar">
            <a href="#home">Home</a>
            <input type="search" placeholder="Search..." aria-label="Search">
            <a href="#contact">Contact</a>
        </nav>

        
        <!--                          -->
        <!-- Left and Right Carousels -->
        <!--                          -->

        <div id="leaving-carousel">

                <!--               -->
                <!-- Left Carousel -->
                <!--               -->
            <a href="https://www.google.com" target="_blank">
            <div id="leaving-movies">
                <h1>Movies Leaving Soon:</h1>
                    <div class="container">
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators mb-0 pb-0">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                            </ul>
                            <!-- The slideshow -->
                            <div class="carousel-inner no-padding my-5">


                                <!-- Slide 1 -->
                                <div class="carousel-item active">
                                    <!-- Item 1 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                        
                                        </div>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                    </div>
                                    <!-- Item 2 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top rounded-bottom" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                    </div>
                                    <!-- Item 3 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top rounded-bottom" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
                                        </p>
                                    </div>
                                </div>


                                <!-- Slide 2 -->
                                <div class="carousel-item">
                                    <!-- Item 1 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                    </div>
                                    <!-- Item 2 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
                                        </p>
                                    </div>
                                    <!-- Item 3 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!                                            
                                        </p>
                                    </div>
                                </div>



                                <!-- Slide 3 -->
                                <div class="carousel-item">
                                    <!-- Item 1 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                    </div>
                                    <!-- Item 2 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                    </div>
                                    <!-- Item 3 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
             </div>
            </a>

                <!--                -->
                <!-- Right Carousel -->
                <!--                -->

            <div id="leaving-shows">
                <h1>Shows Leaving Soon:</h1>
                <div class="container">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ul class="carousel-indicators mb-0 pb-0">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner no-padding my-5">

                            <!-- Slide 1 -->
                            <div class="carousel-item active">
                                <!-- Item 1 -->
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <a href="#" onclick=abc(this) class="slider_info">
                                    <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                    <div class="card-img-overlay t_img">
                                    
                                    </div>
                                    </a>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                </div>
                                <!-- Item 2 -->
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <a href="#" onclick=abc(this) class="slider_info">
                                    <img class="img-fluid card-img-top rounded-bottom" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                    <div class="card-img-overlay t_img">
                                        
                                    </div>
                                    </a>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                </div>
                                <!-- Item 3 -->
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <a href="#" onclick=abc(this) class="slider_info">
                                    <img class="img-fluid card-img-top rounded-bottom" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                    <div class="card-img-overlay t_img">
                                        
                                    </div>
                                    </a>
                                    <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
                                    </p>
                                </div>
                                </div>


                                <!-- Slide 2 -->
                                <div class="carousel-item">
                                    <!-- Item 1 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                    </div>
                                    <!-- Item 2 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
                                        </p>

                                    </div>
                                    <!-- Item 3 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                    </div>
                                </div>


                                <!-- Slide 3 -->
                                <div class="carousel-item">
                                    <!-- Item 1 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                    </div>
                                    <!-- Item 2 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!</p>

                                    </div>
                                    <!-- Item 3 -->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href="#" onclick=abc(this) class="slider_info">
                                        <img class="img-fluid card-img-top" src="https://occ-0-2219-2218.1.nflxso.net/dnm/api/v6/evlCitJPPCVCry0BZlEFb5-QjKc/AAAABW-3KdzddLNpQk8HzQhgzN21CRvEHgPzBOQRDDF17My05gvDYi6DctxoFeSW1YsX53Wwx2Ygn0zU-4mVyadygewg3w.jpg?r=efc">
                                        <div class="card-img-overlay t_img">
                                            
                                        </div>
                                        </a>
                                        <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nesciunt quam obcaecati maiores atque labore fugiat tenetur tempore veritatis temporibus!
                                        </p>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>











    
    <div id="contact">

    </div>   

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>