<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Better Netflix - Our Slogan Here</title>
        <link rel="stylesheet" href="/static/CSS/index.css">
        
    </head>
<header id="home">
    <div class="searchbar">
        <input type="text" placeholder="Search...">
    </div>

    <div class="navbar">
        
    </div>
</header>


<body>
    <div id="carousel">
        <h1>Leaving Soon Carousel </h1>
    </div>


<div id="row">
    <section id="topmovies">
        <h1>Top Rated Movies</h1>

    </section>

    <section id="mostwatchedmovies">
        <section>
            <h2 id="about">Most Watched Movies</h2>
            
        </section>
    </section>

    <section id="lowestratedmovies">
        <h1>Lowest Rated Movies</h1>
    
    </section>
</div>
</body>
<footer>
    <nav>
        <h4>Lets Connect!</h4>
        <a href="https://www.linkedin.com/in/andrewcox858/" target="_blank">LinkedIn</a> |
        <a href="https://github.com/AndrewC7" target="_blank">GitHub</a>
    </nav>
</footer>