{% extends 'base.html' %}
{% block content %}

<section>
    <h1>Recently Added to Netflix</h1>

    <form class=filter-form action='/recently-added' method="POST">
        <input type="text" name="type" placeholder="Type">
        <div class="min-max-slider" data-legendnum="2">
            <label for="min">Start Year</label>
            <input id="min" class="min" name="start-year" type="range" step="1" min="1900" max="2021" />
            <label for="max">End Year</label>
            <input id="max" class="max" name="end-year" type="range" step="1" min="1900" max="2021" />
        </div>
        <div class="min-max-slider" data-legendnum="2">
            <label for="min">Min Runtime</label>
            <input id="min" class="min" name="min-runtime" type="range" step="1" min="60" max="10800" />
            <label for="max">Max Runtime</label>
            <input id="max" class="max" name="max-runtime" type="range" step="1" min="60" max="10800" />
        </div>
        <div class="min-max-slider" data-legendnum="2">
            <label for="min">Min IMDB Rating</label>
            <input id="min" class="min" name="start-rating" type="range" step="q" min="0" max="10" />
            <label for="max">Max IMDB Rating</label>
            <input id="max" class="max" name="end-rating" type="range" step="1" min="0" max="10" />
        </div>
        <input type="hidden" name="current-list" value="recently-added">
        <input type="submit">
    </form>
    
    {% for i in range(results|length) %}
    <ul>
        <li>Title: {{ results[i]["title"] }}</li>
        <li><img src='{{ results[i]["img"] }}' width="500" height="600"></li>
        <li>Description: {{ results[i]["synopsis"] }}</li>
    </ul>
    {% endfor %}
    
</section>
{% endblock %}
