{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/CSS/recently_added.css">

<center>
<h1>Recently Added to Netflix</h1>
<section>
    <div class="wrap-collabsible"> 
        <input id="collapsible2" class="toggle" type="checkbox"> 
        <label for="collapsible2" class="lbl-toggle">Filters:</label>
        <div class="collapsible-content">
            <div class="content-inner">
                <div id="sliders">
                    <center>
                    <form class=filter-form action='/expiring-soon' method="POST">
                        <input type="text" name="type" placeholder="Type">
                        <div class="min-max-slider" data-legendnum="3" id="year-select">
                            <label for="min">Start Year</label>
                            <input id="min" class="min" name="start-year" type="range" step="1" min="1950" max="2021" />
                            <label for="max">End Year</label>
                            <input id="max" class="max" name="end-year" type="range" step="1" min="1950" max="2021" />
                        </div>
                        <div class="min-max-slider" data-legendnum="3" id="runtime-select">
                            <label for="min">Min Runtime</label>
                            <input id="min" class="min" name="min-runtime" type="range" step="1" min="0" max="300" />
                            <label for="max">Max Runtime</label>
                            <input id="max" class="max" name="max-runtime" type="range" step="1" min="0" max="300" />
                        </div>
                        <div class="min-max-slider" data-legendnum="3" id="rating-select">
                            <label for="min">Min IMDB Rating</label>
                            <input id="min" class="min" name="start-rating" type="range" step="1" min="0" max="10" />
                            <label for="max">Max IMDB Rating</label>
                            <input id="max" class="max" name="end-rating" type="range" step="1" min="0" max="10" />
                        </div>
                        <input type="submit">
                    </form>
                    </center>
                    </div>
         </div>
        </div>
    </div>

    <div id="title-grid">
    
    {% for i in range(results|length) %}
        <ul id="title_list">
            <a href='/title/{{results[i]["nfid"]}}'><li><img src='{{ results[i]["img"] }}'></li></a>
            <li id="title">{{ results[i]["title"] }}</li>
            <li>{{ results[i]["synopsis"] }}</li>
            <li>{{ results[i]["details"] }}</li>

            <br>
            <a href='/title/{{results[i]["nfid"]}}'><li>More Info:</li></a>

        </ul>
    {% endfor %}
    </div>
</section>
</center>
{% endblock %}
