{% extends 'base.html' %}
{% block content %}

<section>
    <h1>Details</h1>

    {% for title in details[0] %}    
    <img src="{{ title['img']}}">
    <p>Title: {{ title['title']}}</p>
    <p>Type: {{ title['vtype']}}</p>
    <p>Release Year: {{ title['year']}}</p>
    <p>Country of Origin: {{ title['title']}}</p>
    <p>Synopsis: {{ title['synopsis']}}</p>
    <p>Maturity: {{ title['matlabel']}}</p>
    
    <p>Title: {{ title['title']}}</p>

        <p>Available in the following countries:</p>
        {% for i in range(countries|length) %}
        <ul>
            <li>{{ countries[i]["country"] }}</li>
            <ul>
                <li>Date Added: {{ countries[i]["newdate"] }}</li>
                <li>Audio Languages: {{ countries[i]["audio"] }}</li>
                <li>Subtitle Languages: {{ countries[i]["subtitle"] }}</li>
            </ul>
        </ul>
        {% endfor %}

        <p>Genres:</p>
        {% for i in range(genres|length) %}
        <ul>
            <li>{{ genres[i]["genre"] }}</li>
        </ul>
        {% endfor %}

    {% endfor %}

    
</section>
{% endblock %}
